name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Snake Animation
        uses: Platane/github-action-user-contribution-grid-snake@v3
        with:
          github_user_name: SHIVAMSHARMA7000
      - name: Commit Outputs
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add github-contribution-grid-snake.svg
          git commit -m 'Update snake animation' || echo "No changes to commit"
